* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
}

hr {
  border: none;
  border-top: dashed 1px #aaa;
  margin: 1.5em 0;
}

mark {
  background: inherit;
  color: inherit;
  border: solid 3px #f00;
  border-radius: 3px;
  padding: 2px;
  display: inline-block;
}

small {
  line-height: 1.2;
  display: inline-block;
  margin: .5em 0;
  color: #060;
}

button {
  padding: 2px 8px;
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: .5em;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-top: 0;
  margin-bottom: .5em;
}

h2:before,
h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}
h2:before {
  left: 0;
}
h2:after {
  right: 0;
}

#list {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  padding: 20px 10px;
}

#tutorial {
  margin-left: 300px;
  padding: 20px 40px;
  border-left: solid 1px #222;
  max-width: 1280px;
}

.notice {
  color: #f40;
}

.notice:before {
  content: 'NOTICE';
  color: #fff;
  background: #f80;
  font-weight: bold;
  font-size: .9em;
  border-radius: 4px;
  padding: 2px 8px;
  margin-right: .5em;
}

.step {
  margin-bottom: 5em;
}
